### First step is Data Visualization and Preprocessing

In [1]:
# importing the necessary libs
import numpy as np
import pandas as pd

# loading in the ratings data
ratings_df = pd.read_csv('ml-latest-small/ratings.csv')

In [2]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
# since the ratings data don't contain movie names we will load them from the movies spreadsheet
movie_df = pd.read_csv('ml-latest-small/movies.csv')

In [4]:
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
# we have our desired features in separate df objects, so we merge them
movie_df = pd.merge(ratings_df, movie_df, on='movieId')

In [6]:
movie_df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [7]:
# creating a df containing the average rating and rating count of each movie
ratings_avg_count = pd.DataFrame(movie_df.groupby('title')['rating'].mean())

In [8]:
ratings_avg_count['ratings_count'] = movie_df.groupby('title')['rating'].count()

In [9]:
ratings_avg_count.head()

                                         rating  ratings_count
title
'71 (2014)                                  4.0              1
'Hellboy': The Seeds of Creation (2004)     4.0              1
'Round Midnight (1986)                      3.5              2
'Salem's Lot (2004)                         5.0              1
'Til There Was You (1997)                   4.0              2